extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
    h1(class="mb-4") Chỉnh sửa danh mục sản phẩm 

    +alert-success(3000)
    +alert-error(3000)

    form(
        action=`/${prefixAdmin}/product-category/edit/${record.id}?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                value=record.title
                required
            )
        
        div(class="form-group" option-parent-id)
            label(for="parent_id") Danh mục cha
            select(
                name="parent_id"
                id="parent_id"
                class="form-control"
            )
                if(record.parent_id==="")
                    option(value="") Hiện không có danh mục cha
                else
                    option(value=record.parent_id)
                if(allRecords)
                    +select-tree(allRecords)
        
        div(class="form-group")
            label(for="description") Mô tả
            textarea(
                class="form-control"
                id="description"
                name="description"
                rows="5"
                textarea-mce
            ) #{record.description}
        
        div(
            class="form-group"
            upload-image
        )
            label(for="thumbnail") Hình ảnh
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                upload-image-input
            )
            img(
                src=record.thumbnail
                class="image-preview"
                upload-image-preview
            )
        
        div(class="form-group")
            label(for="position") Vị trí
            input(
                type="text"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tự động tăng"
                min="1"
                value=record.position
            )

        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked=(record.status=="active" ? true : false)
            )
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInactive"
                name="status"
                value="inactive"
                checked=(record.status=="inactive" ? true : false)
            )
            label(for="statusInactive" class="form-check-label") Dừng hoạt động

        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Thay đổi